<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>ru.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offerGetServlet</servlet-name>
        <servlet-class>ru.servlets.OfferGetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminPanelServlet</servlet-name>
        <servlet-class>ru.servlets.AdminPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offerRemServlet</servlet-name>
        <servlet-class>ru.servlets.OfferRemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userViewServlet</servlet-name>
        <servlet-class>ru.servlets.UserViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offerViewServlet</servlet-name>
        <servlet-class>ru.servlets.OfferViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offerBuyServlet</servlet-name>
        <servlet-class>ru.servlets.OfferBuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminRemoveServlet</servlet-name>
        <servlet-class>ru.servlets.AdminRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddOfferServlet</servlet-name>
        <servlet-class>ru.servlets.AdminAddOfferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offerInfoServlet</servlet-name>
        <servlet-class>ru.servlets.OfferInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offerGetServlet</servlet-name>
        <url-pattern>/offerGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offerRemServlet</servlet-name>
        <url-pattern>/offerRem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userViewServlet</servlet-name>
        <url-pattern>/userView</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>offerBuyServlet</servlet-name>
        <url-pattern>/offerBuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offerViewServlet</servlet-name>
        <url-pattern>/offerView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminPanelServlet</servlet-name>
        <url-pattern>/adminPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminRemoveServlet</servlet-name>
        <url-pattern>/adminRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddOfferServlet</servlet-name>
        <url-pattern>/addOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offerInfoServlet</servlet-name>
        <url-pattern>/offerInfo</url-pattern>
    </servlet-mapping>


</web-app>